html {
  height: 100%;
}

body {
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  font-family: 'Markazi Text', serif;
  background: linear-gradient(#e8ecf4, #fff);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  text-decoration: none;
  font-weight: 700;
  color: #85929e;
}

nav {
  padding: 16px;
}

main {
  padding: 16px;
  margin: 0 auto;
}

main p {
  color: #79889e;
}

main > p {
  font-size: 18px;
}

footer {
  background-color: #586379;
  color: #e8ecf4;
  height: 200px;
  padding: 16px;
}

.header-title {
  color: #2c3e50;
  font-size: 64px;
  margin: 0;
  margin-top: 4px;
  line-height: 0.5;
}

.header-subtitle {
  color: #2c3e50;
  font-size: 24px;
  line-height: 24px;
  margin: 0px;
}

.intro-wrapper {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 8px;
}

.intro-title {
  font-size: 48px;
  color: #2c3e50;
  margin: 0px;
  text-align: center;
}

.intro-subtext {
  width: 100%;
  font-size: 24px;
  margin-top: 0px;
  border-top: 1px solid #cbd7e4;
}

.intro-subtext > p {
  margin: 16px 0;
}

.intro-text {
  color: #2c3e50;
  font-size: 28px;
  line-height: 0.75;
}

.intro-text > p {
  margin: 0;
  margin-bottom: 2px;
}

#reposContainer {
  display: grid;
  grid-auto-flow: row;
  justify-self: center;
  align-self: center;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 4px 6px 14px 6px rgba(0, 0, 0, 0.15);
}

.repoContainer {
  display: grid;
  grid-template-columns: 0.05fr 1fr 0.5fr;
  grid-gap: 8px;
  color: #2c3e50;
  font-size: 18px;
  align-self: stretch;
  padding: 16px;
  border-top: 1px solid #e8ecf4;
}

.repoContainer:hover {
  background-color: #e8ecf4;
  cursor: pointer;
}

.repoContainer > div > h3 {
  margin: 0;
}

.language-icon {
  height: 50px;
  width: 50px;
  display: grid;
  align-items: center;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
}

.repo-info {
  display: grid;
}

.repo-stars-watchers {
  display: grid;
  justify-self: end;
}

/* .spinnerContainer {
  display: grid;
  align-items: center;
  justify-content: center;
}

.spinner {
  background: transparent;
  width: 25px;
  border: solid 4px #85929e;
  border-bottom: solid 4px #2c3e50;
  height: 25px;
  border-radius: 100%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */

@media screen and (min-width: 768px) {
  main {
    height: 75vh;
  }

  .intro-title {
    text-align: left;
  }

  .intro-subtext {
    width: 80%;
  }

  .intro-wrapper {
    grid-template-columns: 0.75fr 1fr;
  }

  .pointer-finger::after {
    content: '👉';
    text-align: inherit;
  }

  #reposContainer {
    width: 85%;
  }
}
