body {
  box-sizing: border-box;
  margin: 0;
  padding: 1em;
  background-color: #fbfbfb;
  font-family: 'Markazi Text', serif;
}

a {
  text-decoration: none;
  font-weight: 700;
  color: #85929e;
}

.main {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.main > p {
  font-size: 18px;
}

.intro-wrapper {
  border-bottom: 1px dashed #2c3e50;
  padding: 8px 4px;
}

.intro-header {
  color: #2c3e50;
  font-size: 48px;
  margin: 0;
  margin-top: 4px;
  line-height: 0.5;
}

.intro-text {
  color: #2c3e50;
  font-size: 28px;
  line-height: 0.75;
}

.intro-text > p {
  margin: 0;
  margin-bottom: 2px;
}

#reposContainer {
  display: grid;
  width: 100%;
  grid-auto-flow: row;
}

.repoContainer {
  display: grid;
  grid-template-columns: 0.05fr 1fr 0.5fr;
  grid-gap: 8px;
  color: #2c3e50;
  font-size: 18px;
  align-self: stretch;
  padding: 8px 4px;
  border-bottom: 1px dashed #2c3e50;
}

.repoContainer:hover {
  background-color: #e4e6e7;
  cursor: pointer;
}

.repoContainer > div > h3 {
  margin: 0;
}

.language-icon {
  height: 50px;
  width: 50px;
  display: grid;
  align-items: center;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
}

.repo-info {
  display: grid;
}

.repo-stars-watchers {
  display: grid;
  justify-self: end;
}
@media screen and (min-width: 768px) {
  .main {
    width: 50%;
  }
}
